#Title {
    background-color: rgba(255, 235, 56, 0);
    font-family: Verdana, sans-serif;
    color: black;
    font-size: 150%;
    margin: 0;
    text-align: Center;
}

#SignUp {
    border-style: solid;
    border-color: #333333;
    float: left;
    width: 30%;
    align-content: center;
    margin-left: 15%;
    background-color: rgba(51, 51, 51, 0.56);
    text-align: left;
    font-size: 150%;
}
#Login {
    border-style: solid;
    border-color: #333333;
    align: center;
    width: 30%;
    align-content: center;
    margin-right: 15%;
    background-color: rgba(51, 51, 51, 0.56);
    text-align: left;
    font-size: 150%;
}
#Header {
    background-color: #333333;
    font-family: Verdana, sans-serif;
    color: black;
    font-size: 150%;
    margin: 0;
    text-align: Center;
}
.navbar {
    overflow: hidden;
    background-color: #333;
}
.navbar a {
    float: left;
    background-color: #333333;
    overflow: hidden;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar button{
    float: right;
    background-color: #333333;
    overflow: hidden;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: none
}
.navbar a.active {
    background-color: #2196F3;
    color: white;
}
body {
    background-color: #6D6D6D;
    font-family: Verdana, sans-serif;
    color: black;
    font-size: 100%;
    margin: 50px;
}